@font-face {
  font-family: "AvenirNext-r";
  src: url("../fonts/AvenirNextLTPro-Regular.eot");
  src: url("../fonts/AvenirNextLTPro-Regular.eot") format("embedded-opentype"), url("../fonts/AvenirNextLTPro-Regular.svg") format("svg"), url("../fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext-b";
  src: url("../fonts/AvenirNextLTPro-Bold.eot");
  src: url("../fonts/AvenirNextLTPro-Bold.eot") format("embedded-opentype"), url("../fonts/AvenirNextLTPro-Bold.svg") format("svg"), url("../fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "AvenirNext-r";
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AvenirNext-b";
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  margin-top: 34px;
}

@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
    background-color: #F8FBFF;
    margin-top: 0px;
    padding: 10px;
    padding-top: 15px;
  }
}

.nav--sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  background-color: #F8FBFF;
  margin-top: 0px;
  padding: 10px;
  padding-top: 15px;
}

.nav__icon {
  margin: 0% !important;
  text-align: end;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 50px;
  color: #0747a6;
  font-family: 'AvenirNext-b';
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .nav__icon {
    text-align: left;
    width: 100% !important;
  }
}

.nav__dot {
  color: #00B0D9;
  font-family: 'AvenirNext-b';
}

.nav__dropdown {
  visibility: hidden;
  color: #00B0D9;
}

@media screen and (max-width: 768px) {
  .nav__dropdown {
    margin-left: 229px;
  }
}

@media screen and (max-width: 767px) {
  .nav__dropdown {
    visibility: inherit;
    margin-left: 75%;
  }
}

@media screen and (max-width: 576px) {
  .nav__dropdown {
    margin-left: 60%;
  }
}

@media screen and (max-width: 375px) {
  .nav__dropdown {
    margin-left: 48%;
  }
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  line-height: 50px;
}

@media screen and (max-width: 991px) {
  .nav__ul {
    height: 45px;
  }
}

@media screen and (max-width: 767px) {
  .nav__ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #F8FBFF;
    display: none;
    margin-bottom: 0px !important;
    height: auto;
  }
}

.nav__li {
  text-decoration: none;
  list-style: none;
  color: #161c51;
  font-size: 16px;
  font-family: "AvenirNext-b";
  font-size: 16px;
  letter-spacing: 0;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.nav__li:hover {
  background-color: #00B0D9;
  color: #ffffff !important;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .nav__li {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .nav__li {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .nav__li {
    font-size: 11px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media screen and (max-width: 767px) {
  .nav__li {
    width: 100%;
    text-align: center;
    margin-left: 0px;
  }
}

.nav .first {
  color: #0747a6;
}

.nav .last {
  text-decoration: underline;
}

.nav__end {
  position: relative;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .nav__end {
    text-align: left;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .nav__end {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .nav__end {
    text-align: inherit;
    display: none;
    background-color: #F8FBFF;
    height: -webkit-fill-available;
    text-align: center;
  }
}

.nav__signin {
  height: 36px;
  width: 92px;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  line-height: 0px;
  border: none;
  font-size: 16px;
  color: #00B0D9;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .nav__signin {
    width: 30%;
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .nav__signin {
    width: 34%;
    font-size: 15px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 426px) {
  .nav__signin {
    width: 40%;
  }
}

.nav__signup {
  height: 36px;
  width: 92px;
  margin-left: 20px;
  border-radius: 8px;
  background-color: #00b0d9;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  line-height: 0px;
  border: none;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .nav__signup {
    width: 30%;
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .nav__signup {
    width: 34%;
    font-size: 15px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 426px) {
  .nav__signup {
    width: 40%;
  }
}

.nav__flag {
  background-image: url(../images/USA@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 20px;
  display: inline-block;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
}

@media screen and (max-width: 991px) {
  .nav__flag {
    margin-left: 6px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .nav__flag {
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .nav__flag {
    display: none;
  }
}

.header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 100px;
}

@media screen and (max-width: 426px) {
  .header {
    margin-top: 90px;
  }
}

.header__paragraph {
  width: 55%;
  color: #161c51;
  font-family: "AvenirNext-b";
  font-size: 54px;
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  .header__paragraph {
    width: 69%;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .header__paragraph {
    width: 91%;
  }
}

@media screen and (max-width: 576px) {
  .header__paragraph {
    font-size: 45px;
  }
}

@media screen and (max-width: 426px) {
  .header__paragraph {
    width: 91%;
    font-size: 30px;
  }
}

.header__span {
  color: #00B0D9;
}

.header__search {
  width: 85%;
  background-color: #ffffff;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  position: absolute;
  z-index: 6;
  right: 7.5%;
  top: 30%;
  -webkit-box-shadow: 0 -12px 36px 0 rgba(214, 211, 211, 0.2);
          box-shadow: 0 -12px 36px 0 rgba(214, 211, 211, 0.2);
  color: #707E96;
  font-size: 20px;
}

@media screen and (max-width: 991px) {
  .header__search {
    border: 1px solid #e7e7e7;
  }
}

@media screen and (max-width: 767px) {
  .header__search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: inherit;
    border: 1px solid #707E96;
    border-radius: 10px;
  }
}

.header__first {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media screen and (max-width: 767px) {
  .header__first {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
  }
}

.header__p {
  width: 16.66667%;
  height: 100%;
  padding: 10px;
  text-align: left;
  padding-left: 30px;
  border: none;
  font-family: "FontAwesome";
  font-size: 18px;
  color: #51637f !important;
  border-right: 1px solid #e7e7e7;
}

@media screen and (max-width: 991px) {
  .header__p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .header__p {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .header__p {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
  }
}

.header__p1 {
  color: #51637f !important;
  width: 25%;
  height: 100%;
  border: none;
  font-size: 18px;
  padding: 10px;
  text-align: left;
  padding-left: 30px;
  border-right: 1px solid #e7e7e7;
  font-family: "FontAwesome";
  border-right: 1px solid #e7e7e7;
}

@media screen and (max-width: 991px) {
  .header__p1 {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .header__p1 {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .header__p1 {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
  }
}

.header__find {
  width: 17.66667%;
  height: 100%;
  display: inline-block;
  background-color: #0747a6;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  border-right: 1px solid #e7e7e7;
}

@media screen and (max-width: 991px) {
  .header__find {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .header__find {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .header__find {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
  }
}

.header__img {
  width: 100%;
  height: 500px;
  background-image: url(../images/Photo.svg);
  background-size: cover;
  border-radius: 0%;
  top: 213px;
  z-index: 0;
  margin-top: 80px;
}

@media screen and (max-width: 426px) {
  .header__img {
    height: 185px;
    margin-top: 118px;
  }
}

.special {
  margin-top: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.special__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  height: 70px;
}

.special__header {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  width: 50%;
  line-height: 70px;
}

@media screen and (max-width: 992px) {
  .special__header {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .special__header {
    font-size: 17px;
    line-height: inherit;
  }
}

@media screen and (max-width: 376px) {
  .special__header {
    width: 70%;
    font-size: 18px;
  }
}

@media screen and (max-width: 321px) {
  .special__header {
    font-size: 16px;
  }
}

.special__cure {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 50px;
  color: #0747a6;
  font-family: 'AvenirNext-b';
}

@media screen and (max-width: 426px) {
  .special__cure {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 50px;
    color: #0747a6;
    font-family: 'AvenirNext-b';
  }
}

.special__dot {
  color: #00B0D9;
  font-family: 'AvenirNext-b';
}

.special__seeall {
  display: inline-block;
  width: 50%;
  font-size: 18px;
  color: #00B0D9;
  font-weight: bold;
  line-height: 70px;
}

@media screen and (max-width: 767px) {
  .special__seeall {
    font-size: 16px;
    line-height: 54px;
  }
}

@media screen and (max-width: 426px) {
  .special__seeall {
    font-size: 11px;
    line-height: 54px;
  }
}

@media screen and (max-width: 376px) {
  .special__seeall {
    width: 30%;
    font-size: 12px;
  }
}

@media screen and (max-width: 321px) {
  .special__seeall {
    font-size: 9px;
  }
}

.special__card {
  background-color: #F8FBFF;
  border-radius: 15px;
  height: 250px;
  margin: 10px;
  width: 31%;
}

@media screen and (max-width: 992px) {
  .special__card {
    width: 47%;
  }
}

@media screen and (max-width: 767px) {
  .special__card {
    width: 46%;
  }
}

@media screen and (max-width: 576px) {
  .special__card {
    width: 100%;
  }
}

.special__img {
  margin-top: 50px;
}

.special__data {
  margin-top: 15px;
  font-size: 20px;
  color: #161c51;
  font-weight: bold;
}

.app {
  width: 100%;
  position: relative;
  height: 700px;
  margin-top: 100px;
}

@media screen and (max-width: 576px) {
  .app {
    padding-left: 20px;
  }
}

.app__background {
  background-color: #F8FBFF;
}

.app__img {
  height: 800px;
  position: absolute;
  border-radius: 50px;
  top: 80px;
  right: 100px;
}

@media screen and (max-width: 1024px) {
  .app__img {
    right: -56px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .app__img {
    top: 50px;
    right: 46px;
    width: 46%;
  }
}

@media screen and (max-width: 576px) {
  .app__img {
    display: none;
  }
}

.app__data {
  position: absolute;
  width: 40%;
  top: 100px;
}

@media screen and (max-width: 576px) {
  .app__data {
    width: 100%;
  }
}

.app__header {
  color: #161c51;
  font-size: 54px;
  font-family: "AvenirNext-b";
}

@media screen and (max-width: 1024px) {
  .app__header {
    font-size: 43px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .app__header {
    font-size: 41px;
  }
}

@media screen and (max-width: 767px) {
  .app__header {
    font-size: 33px;
  }
}

@media screen and (max-width: 376px) {
  .app__header {
    font-size: 24px;
  }
}

@media screen and (max-width: 321px) {
  .app__header {
    font-size: 19px;
  }
}

.app__cure {
  font-size: 41px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 50px;
  color: #0747a6;
  font-family: 'AvenirNext-b';
}

@media screen and (max-width: 376px) {
  .app__cure {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 50px;
    color: #0747a6;
    font-family: 'AvenirNext-b';
  }
}

@media screen and (max-width: 321px) {
  .app__cure {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 50px;
    color: #0747a6;
    font-family: 'AvenirNext-b';
  }
}

.app__dot {
  color: #00B0D9;
  font-family: 'AvenirNext-b';
}

.app__ul {
  list-style: none;
  margin-top: 30px;
}

.app__li {
  font-size: 18px;
  color: #707E96;
}

.app__li:before {
  content: "\2022";
  color: #00B0D9;
  font-weight: 900;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 20px;
}

@media screen and (max-width: 991px) {
  .app__li {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .app__li {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .app__li {
    font-size: 13px;
  }
}

@media screen and (max-width: 321px) {
  .app__li {
    font-size: 13px;
  }
}

.app__sendme {
  font-size: 15px;
  margin-top: 60px;
  color: #586984;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .app__sendme {
    margin-top: 50px;
  }
}

.app__form {
  width: 86%;
  height: 45px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1.5px solid #dfe5ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .app__form {
    width: 100%;
    font-size: 11px;
  }
}

@media screen and (max-width: 767px) {
  .app__form {
    font-size: 9px;
  }
}

@media screen and (max-width: 576px) {
  .app__form {
    font-size: 13px;
    width: 90%;
  }
}

.app__opennum {
  height: 100%;
  border: none;
  width: 18%;
  text-align: center;
  padding-left: 5px;
  border-right: 1.5px solid #dfe5ee;
  font-weight: 500;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .app__opennum {
    width: 23%;
  }
}

@media screen and (max-width: 767px) {
  .app__opennum {
    padding-left: 0%;
  }
}

@media screen and (max-width: 576px) {
  .app__opennum {
    padding-left: 5px;
  }
}

.app__enter {
  height: 100%;
  border: none;
  width: 55%;
  font-weight: bold;
  color: #dfe5ee;
  padding-left: 5px;
  border-right: 1.5px solid #dfe5ee;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .app__enter {
    font-size: 10px;
  }
}

@media screen and (max-width: 767px) {
  .app__enter {
    font-size: 7px;
  }
}

@media screen and (max-width: 576px) {
  .app__enter {
    font-size: 14px;
  }
}

@media screen and (max-width: 426px) {
  .app__enter {
    font-size: 10px;
  }
}

.app__send {
  height: 100%;
  width: 27%;
  background-color: #00B0D9;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 1024px) {
  .app__send {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .app__send {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .app__send {
    font-size: 9px;
  }
}

@media screen and (max-width: 576px) {
  .app__send {
    font-size: 15px;
  }
}

.app__store {
  width: 300px;
  height: 75px;
}

@media screen and (max-width: 767px) {
  .app__store {
    width: 210px;
    height: 70px;
  }
}

@media screen and (max-width: 321px) {
  .app__store {
    width: 274px;
  }
}

.doctor5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (max-width: 426px) {
  .doctor5 {
    margin-top: 80px;
  }
}

.doctor5__header {
  font-size: 54px;
  font-family: "AvenirNext-b";
  color: #161c51;
  font-weight: 900;
  width: 100%;
}

@media screen and (max-width: 426px) {
  .doctor5__header {
    font-size: 40px;
  }
}

.doctor5__headdata {
  color: #707E96;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
}

@media screen and (max-width: 426px) {
  .doctor5__headdata {
    font-size: 15px;
  }
}

.doctor5__card {
  border-radius: 15px;
  height: 250px;
  margin: 70px;
  position: relative;
  width: 20%;
}

@media screen and (max-width: 1200px) {
  .doctor5__card {
    width: 18%;
  }
}

@media screen and (max-width: 1024px) {
  .doctor5__card {
    margin: 52px;
  }
}

@media screen and (max-width: 991px) {
  .doctor5__card {
    width: 29%;
  }
}

@media screen and (max-width: 576px) {
  .doctor5__card {
    width: 100%;
  }
}

.doctor5__num {
  right: -15px;
  position: absolute;
  width: 100px;
  height: 100px;
  font-weight: 700;
  font-size: 100px;
  color: #ea6957;
  bottom: 30px;
}

@media screen and (max-width: 1024px) {
  .doctor5__num {
    right: -80px;
  }
}

@media screen and (max-width: 991px) {
  .doctor5__num {
    right: -20px;
  }
}

@media screen and (max-width: 767px) {
  .doctor5__num {
    right: -60px;
  }
}

@media screen and (max-width: 576px) {
  .doctor5__num {
    right: 20px;
  }
}

@media screen and (max-width: 426px) {
  .doctor5__num {
    right: 7px;
  }
}

@media screen and (max-width: 321px) {
  .doctor5__num {
    right: -31px;
  }
}

.doctor5__img {
  margin-top: 50px;
}

.doctor5__data {
  margin-top: 30px;
  font-size: 20px;
  color: #161c51;
  font-weight: bold;
}

.doctor5__btn {
  width: 25%;
  height: 50px;
  background-color: #00B0D9;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 120px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .doctor5__btn {
    width: 80%;
    font-size: 20px;
  }
}

@media screen and (max-width: 426px) {
  .doctor5__btn {
    width: 75%;
  }
}

.patients {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  background-color: #F8FBFF;
  position: relative;
}

.patients__img {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 40px;
  left: 30px;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .patients__img {
    top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .patients__img {
    width: 100%;
    height: 30%;
    left: 0px;
  }
}

.patients__data {
  width: 50%;
  height: 100%;
  right: 0px;
  position: absolute;
  padding: 50px;
  padding-left: 100px;
  text-align: left;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .patients__data {
    padding-left: 50px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .patients__data {
    width: 100%;
    height: 70%;
    top: 25%;
    text-align: center;
    margin-top: 0px;
  }
}

.patients__header {
  margin-top: 20px;
  font-size: 54px;
  font-family: "AvenirNext-b";
  color: #161c51;
  font-weight: bold;
  width: 90%;
}

@media screen and (max-width: 1200px) {
  .patients__header {
    font-size: 44px;
  }
}

@media screen and (max-width: 1024px) {
  .patients__header {
    font-size: 40px;
  }
}

@media screen and (max-width: 991px) {
  .patients__header {
    font-size: 35px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .patients__header {
    font-size: 26px;
  }
}

@media screen and (max-width: 576px) {
  .patients__header {
    font-size: 21px;
  }
}

.patients__headerdata {
  margin-top: 30px;
  font-size: 22px;
  font-weight: normal;
  color: #707E96;
  width: 90%;
}

@media screen and (max-width: 991px) {
  .patients__headerdata {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .patients__headerdata {
    font-size: 18px;
  }
}

@media screen and (max-width: 426px) {
  .patients__headerdata {
    font-size: 14px;
  }
}

.patients__btn {
  width: 45%;
  height: 50px;
  background-color: #00B0D9;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .patients__btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .patients__btn {
    width: 60%;
  }
}

@media screen and (max-width: 426px) {
  .patients__btn {
    font-size: 17px;
    width: 75%;
  }
}

@media screen and (max-width: 321px) {
  .patients__btn {
    width: 90%;
    font-size: 15px;
  }
}

.resource {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 426px) {
  .resource {
    margin-top: 80px;
  }
}

.resource__header {
  padding-left: 70px;
  margin-top: 20px;
  font-size: 54px;
  color: #161c51;
  font-family: "AvenirNext-b";
  width: 70%;
}

@media screen and (max-width: 1024px) {
  .resource__header {
    font-size: 37px;
  }
}

@media screen and (max-width: 991px) {
  .resource__header {
    font-size: 33px;
  }
}

@media screen and (max-width: 576px) {
  .resource__header {
    font-size: 26px;
    padding-left: 0px;
    width: 100%;
    text-align: center;
  }
}

.resource__btn {
  width: 23%;
  height: 50px;
  background-color: #00B0D9;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 110px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .resource__btn {
    font-size: 15px;
  }
}

@media screen and (max-width: 991px) {
  .resource__btn {
    margin-top: 60px;
    font-size: 13px;
  }
}

@media screen and (max-width: 576px) {
  .resource__btn {
    font-size: 16px;
    width: 63%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 321px) {
  .resource__btn {
    width: 90%;
    font-size: 15px;
  }
}

.resource__card {
  height: 250px;
  margin: 50px;
  position: relative;
  width: 15%;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .resource__card {
    width: 14%;
  }
}

@media screen and (max-width: 1024px) {
  .resource__card {
    margin: 37px;
  }
}

@media screen and (max-width: 991px) {
  .resource__card {
    width: 27%;
  }
}

@media screen and (max-width: 576px) {
  .resource__card {
    width: 63%;
  }
}

.resource__div {
  border-radius: 50%;
  background-color: #f4f7fa;
  height: 65%;
  width: 100%;
  text-align: center;
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  .resource__div {
    width: 120%;
  }
}

@media screen and (max-width: 991px) {
  .resource__div {
    width: 100%;
  }
}

@media screen and (max-width: 426px) {
  .resource__div {
    width: 85%;
    height: 85%;
  }
}

@media screen and (max-width: 321px) {
  .resource__div {
    width: 100%;
  }
}

.resource__img {
  margin: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

@media screen and (max-width: 1024px) {
  .resource__img {
    width: 60px;
  }
}

@media screen and (max-width: 991px) {
  .resource__img {
    width: auto;
  }
}

@media screen and (max-width: 426px) {
  .resource__img {
    width: 60%;
  }
}

.resource__data {
  margin-top: 15px;
  font-weight: 600;
  color: #161c51;
  font-size: 18px;
}

.st {
  width: 100%;
  height: 600px;
  background-color: #F8FBFF;
  margin-bottom: -130px;
  position: relative;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 576px) {
  .st {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0px;
    right: 0px;
  }
}

.st__img {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 30px;
}

@media screen and (max-width: 576px) {
  .st__img {
    width: 80%;
    height: 30%;
  }
}

.st__data {
  width: 50%;
  height: 100%;
  right: 0px;
  position: absolute;
  padding: 50px;
  padding-left: 100px;
  text-align: left;
}

@media screen and (max-width: 576px) {
  .st__data {
    width: 100%;
    height: 70%;
    top: 30%;
    text-align: center;
    padding-left: 50px;
  }
}

.st__header {
  margin-top: 20px;
  font-size: 54px;
  color: #161c51;
  font-family: "AvenirNext-b";
}

@media screen and (max-width: 1200px) {
  .st__header {
    font-size: 44px;
  }
}

@media screen and (max-width: 991px) {
  .st__header {
    font-size: 35px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .st__header {
    font-size: 35px;
  }
}

@media screen and (max-width: 426px) {
  .st__header {
    font-size: 29px;
  }
}

@media screen and (max-width: 321px) {
  .st__header {
    margin-top: 0px;
  }
}

.st__headerdata {
  margin-top: 30px;
  font-size: 22px;
  font-weight: normal;
  color: #707E96;
  width: 90%;
}

@media screen and (max-width: 991px) {
  .st__headerdata {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .st__headerdata {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .st__headerdata {
    font-size: 14px;
  }
}

@media screen and (max-width: 426px) {
  .st__headerdata {
    font-size: 14px;
    display: inline-block;
  }
}

@media screen and (max-width: 321px) {
  .st__headerdata {
    margin-top: 0px;
  }
}

.st__btn {
  width: 45%;
  height: 50px;
  background-color: #00B0D9;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .st__btn {
    margin-top: 15px;
  }
}

@media screen and (max-width: 991px) {
  .st__btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .st__btn {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .st__btn {
    font-size: 11px;
  }
}

@media screen and (max-width: 426px) {
  .st__btn {
    height: 45px;
    width: 75%;
    font-size: 16px;
  }
}

.footer {
  width: 100%;
  height: 620px;
  background-color: #00234e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 250px 40px 80px 80px;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 250px 40px 40px 40px;
    height: 704px;
  }
}

@media screen and (max-width: 991px) {
  .footer {
    height: 800px;
    padding: 250px 10px 10px 30px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .footer {
    height: 800px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 150px;
    padding-left: 10px;
    padding-right: 10px;
    height: inherit;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer__div1 {
  width: 20%;
}

@media screen and (max-width: 1024px) {
  .footer__div1 {
    width: 11%;
  }
}

@media screen and (max-width: 767px) {
  .footer__div1 {
    width: 100%;
  }
}

.footer__cure {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 50px;
  color: #0747a6;
  font-family: 'AvenirNext-b';
  color: #ffffff;
}

.footer__dot {
  color: #00B0D9;
  font-family: 'AvenirNext-b';
}

.footer__ul1 {
  list-style: none;
  color: #707E96;
  margin-left: 0px !important;
  padding: 0px !important;
  font-size: 11px;
  line-height: 24px;
}

.footer__lighten {
  margin-top: 25px;
  color: #ffffff;
  font-size: 18px;
  margin-right: 20px;
}

.footer__copyw {
  margin-top: 20px;
  margin-left: 10px;
}

.footer__cwi {
  font-size: 10px;
}

.footer__div {
  margin-left: 60px;
}

@media screen and (max-width: 1200px) {
  .footer__div {
    margin-left: 28px;
  }
}

@media screen and (max-width: 767px) {
  .footer__div {
    display: none;
  }
}

.footer__header {
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
}

.footer__ul {
  list-style: none;
  color: #707E96;
  margin-left: 0px !important;
  padding: 0px !important;
  font-size: 14px;
  line-height: 30px;
}

@media screen and (max-width: 991px) {
  .footer__ul {
    font-size: 13px;
  }
}

.footer__div2 {
  width: 150px;
  margin-left: 60px;
}

@media screen and (max-width: 1200px) {
  .footer__div2 {
    width: 140px;
  }
}

@media screen and (max-width: 991px) {
  .footer__div2 {
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .footer__div2 {
    display: none;
  }
}

.footer__d2l {
  margin-top: 32px;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
}

.footer__img {
  width: 130px;
  height: 90px;
  margin-top: 10px;
}

@media screen and (max-width: 991px) {
  .footer__img {
    height: 80px;
    width: 110px;
  }
}

.footer__a {
  font-size: 11px;
  color: #707E96 !important;
  display: inline-block;
  border-bottom: 1px solid #707E96;
}

.footer__p {
  font-size: 15px;
  color: #707E96;
  display: inline-block;
  font-weight: 900;
}
/*# sourceMappingURL=style.css.map */